
* {
    box-sizing: border-box;
    font-family: 'Open Sans',sans-serif;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    font-size:1.1em;
    margin: 1em 0;
}

.accordion{
    padding: 0px;
}

.description {
  margin: 1em auto 2.25em;
}

body {
    animation: fade-in 2s;
    width: 80%;
    min-width: 300px;
    max-width: 1000px;
    margin: 1.5em auto;
    color: #333;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 2.5em ;
}

h2 {
    margin: .5em 0;
}

ul .inner{
    padding: .5em;
    padding-left: 2em;
    overflow: hidden;
    display: none;
    list-style-type: disc;
}

.child {
    list-style-type: none;
}
    
li a.toggle {
    margin: .5em 0;
    width: 100%;
    display: block;
    background: rgba(0,0,0,0.78);
    color: #fefefe;
    padding: .75em;
    border-radius: 0.15em;
    transition: background .3s ease;
    text-decoration: none;
}

li a:hover {
    text-decoration: none;
    margin: .5em 0;
    background: #ffbf00;
    color: black;
}

.switch {
    align-self: flex-end;
}
.inner-switch {
    display: inline-block;
    cursor: pointer;
    border: 1px solid #555;
    border-radius: 1.25rem;
    width: 3.125rem;
    text-align: center;
    font-size: 1rem;
    padding: 0.1875rem;
    margin-left: 0.3125rem;
}

.inner-switch:hover{
    background: #ffbf00;
    color: black;
}

.dark, .dark * {
    background-color: #222;
    color: #e6e6e6;
    border-color: #e6e6e6;
}


@keyframes fade-in{
    from {opacity: 0;}
    to {opacity: 1;}
}

