{% extends 'story7/base.html' %}
{% load static %}

{% block body %}

<h1>Muhammad Fachri Anandito</h1>
<div class="switch">Dark mode:              
        <span class="inner-switch">OFF</span>
</div>


<p class="text-justify description">
    Hi guys, my name is Fachri and people usually call me pow. I was born in jakarta and lives in tebet until now. Today i study at the University of Indonesia, where i am taking a major in Information System. I like to listen to music almost all the time, because it calms me down and frees my mind. I am a guy who likes to achieve goals and i care a lot about my closest friend. I am hoping that one day i will be as impactful as Mark Zuckerberg or Jeff Bezos so i can inspire a lot of people to create more and more great things.
</p>


<h2>FAQ</h2>
<!-- option 1 -->
<ul class="accordion child">
  <li>
    <a class="toggle" href="#">Activities</a>
    <ul class="inner">
        <li>Badan Eksekutif Mahasiswa Fasilkom UI, Human Resource Staff</li>
        <li>Teaching Assistant for Foundations of Programming one at Fasilkom UI</li>
        <li>Candidate for Project Officer of COMPFEST 12</li>
    </ul>
  </li>
  
  <li>
    <a class="toggle" href="#">Organizational and Volunteering Experience</a>
    <ul class="inner">
      <li>Staff of <strong>Teknologi dan Sound System</strong> SMAN 8 Jakarta</li>
      <li>Project Officer of <strong>T8chnofest</strong> SMAN 8 Jakarta</li>
      <li>Staff of Survey for <strong>INTEGER 2018</strong></li>
      <li>Staff of Grand Opening and Grand Closing for <strong>The 7th UI Art War</strong> </li>
      <li>Project Officer of <strong>SBF Gathering 2018</strong></li>
      <li>Staff of Event for <strong>CGT Fasilkom UI 2018</strong></li>
      <li>Staff of Seminar for <strong>COMPFEST 11</strong></li>
    </ul>
  </li>

  <li>
    <a class="toggle" href="#">Achievements</a>
    <ul class="inner">
      <li>Winner of CS:GO Tournament at CGT 2018</li>
    </ul>
  </li>

  <li>
    <a class="toggle" href="#">Educational Background</a>
    <ul class="inner">
      <li>SDN 19 Pagi Tebet Timur</li>
      <li>SMPN 73 Tebet Jakarta Seletan</li>
      <li>SMAN 8 Jakarta Selatan</li>
      <li>University of Indonesia, Information System Undergraduate</li>
    </ul>
  </li>
  
  
  
  <!-- <li>
    <a class="toggle" href="#">Educational Background</a>
    <ul class="inner">
      <li>
        <a href="#" class="toggle">Technically any number of nested elements</a>
        <ul class="inner">
          <li>
            <a href="#" class="toggle">Another nested element</a>
            <div class="inner">
              <p>
                As long as the inner element has inner as one of its classes then it will be toggled.
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tempus placerat fringilla. Duis a elit et dolor laoreet volutpat. Aliquam ultrices mauris id mattis imperdiet. Aenean cursus ultrices justo et varius. Suspendisse aliquam orci id dui dapibus
                blandit. In hac habitasse platea dictumst. Sed risus velit, pellentesque eu enim ac, ultricies pretium felis.
              </p>
            </div>
          </li>
        </ul>
      </li>
      
      <li>Option 2</li>
      
      <li>Option 3</li>
    </ul>
  </li> -->
</ul>
{% endblock body %}